#root{
    -fx-background-color: radial-gradient(radius 200%, #52d2bf, #715ea9);
    -fx-border-radius: 2em;
    -fx-background-radius: 2em;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}